# Helper and build folders
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node modules and other Angular dev files
node_modules/
**/dist/
**/build/
# Angular build output
src/main/webapp/dist/
*.log
*.chunk.js
*.chunk.css
*.map
*.mjs

# IDEs
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# OS-generated
.DS_Store
Thumbs.db

/src/main/resources/static/*
!/src/main/resources/static/.gitkeep